@import "tailwindcss";

:root {
  /* Colores base */
  --bg: #ffffff;
  --fg: #111111;
  --muted: rgba(17, 17, 17, 0.75);
  --muted-2: rgba(17, 17, 17, 0.6);

  /* Superficies */
  --card: #ffffff;

  /* Bordes / radios */
  --border: 1px solid var(--fg);
  --r-sm: 10px;
  --r-md: 12px;
  --r-lg: 14px;
  --r-xl: 16px;

  /* Sombras suaves */
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --fg: #d6d6d6;
    --muted: rgba(237, 237, 237, 0.75);
    --muted-2: rgba(237, 237, 237, 0.6);
    --card: #111111;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  }
}

@theme inline {
  /* Mantengo tu integración con Geist */
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}